<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565577661754-t867qdc3vvqqoa99stcf2fmkfn3q98gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565577661754-t867qdc3vvqqoa99stcf2fmkfn3q98gi</string>
	<key>API_KEY</key>
	<string>AIzaSyAUqQbiuYrv2v7Wp22bR3PpWIYkagI_-Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>565577661754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uni.sydney.edu.au.soft3888.Recipedia</string>
	<key>PROJECT_ID</key>
	<string>foodworldtest-2f475</string>
	<key>STORAGE_BUCKET</key>
	<string>foodworldtest-2f475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565577661754:ios:905680aaca40071deca403</string>
</dict>
</plist>